body,
html {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #000;
}

* {
  box-sizing: border-box;
}

.window-wrapper {
  position: absolute;
  touch-action: none;
  user-select: none;

  min-width: 320px;
}
.window-wrapper.snapping {
  transition-property: width, height, top, left, opacity;
  transition-duration: 0.3s;
}
.window {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.no-padding .window-body {
  padding: 0;
}
.window-body {
  overflow: auto;
}

.window-body,
.window-body > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desktop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("https://source.unsplash.com/random/2048x1536?city,nature")
    center center;
  display: flex;
  flex-direction: column;
}

.window-container {
  display: flex;
  flex: 1;
  position: relative;
}
.taskbar-container {
  height: 45px;
  border-radius: 0;
  z-index: 999 !important;
}
.taskbar-container::before {
  border-radius: 0;
  border-top: #fff 1px solid;
}
.taskbar-container .title-bar {
  border-radius: 0;
  width: 100%;
  height: 100%;
  border-top: #000 1px solid;
  display: flex;
  padding: 0;
  display: flex;
}
.taskbar-btns {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.taskbar-btn {
  width: 60px;
  height: 100%;
  border-radius: 6px;
  border: #000 1px solid;
  margin-right: 4px;
  height: calc(100% + 2px);
}
.taskbar-btn > div {
  border-radius: 6px;
  border: rgba(255, 255, 255, 0.3) 1px solid;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 2px 0;
}
.taskbar-btn > div::after {
  background: radial-gradient(
    circle,
    #fff 0%,
    rgba(255, 255, 255, 0.3) 75%,
    transparent 100%
  );
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taskbar-btn.active {
  background: linear-gradient(
    150deg,
    #fff 0%,
    rgba(255, 255, 255, 0.5) 30%,
    transparent 100%
  );
}
.taskbar-btn:hover > div::after {
  opacity: 0.5;
}
.taskbar-btn:active > div::after {
  opacity: 1;
}
.taskbar-btn img {
  width: auto;
  height: 100%;
  margin: 0 auto;
  display: block;
  user-select: none;
}
.start-button img {
  width: 85px;
  user-select: none;
}
.clock {
  color: #fff;
  padding: 0 5px;
  text-align: center;
  user-select: none;
}
.dropzone {
  flex: 1;
  height: 100%;
  transition: opacity 0.1s;
  padding: 10px;
  opacity: 0;
}

.dropzone > div {
  opacity: 0.7;
  height: 100%;
  border-radius: 6px;
  border-color: transparent;
  border-width: 10px;
  pointer-events: none;
  z-index: 99999;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
  background: linear-gradient(
      transparent 20%,
      hsla(0, 0%, 100%, 0.7) 40%,
      transparent 41%
    ),
    linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0.4),
      rgba(0, 0, 0, 0.1),
      hsla(0, 0%, 100%, 0.2)
    ),
    linear-gradient(
      55deg,
      transparent,
      rgba(0, 0, 0, 0.1) 20%,
      rgba(0, 0, 0, 0.1) 50%,
      transparent 53%
    ),
    transparent;
}

.dropzone-full,
.icon-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.start-menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 50%;
  min-width: 300px;
}
.start-menu .title-bar {
  height: 100%;
}

.start-menu .window-body {
  height: 100%;
  margin: 0;
  border-radius: 6px;
}

.desktop-icon img {
  width: 48px;
  align-self: center;
}

.desktop-icon {
  position: absolute;
  width: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  touch-action: none;
  user-select: none;
  padding: 4px;
}
.desktop-icon > div {
  margin-top: 3px;
  font: 9pt Segoe UI, sans-serif;
  color: #fff;
  letter-spacing: 0;
  line-height: 15px;
  text-shadow: 1px 1px 0 #000, 1px 1px 2px #000, 0 0 16px #000;
  text-align: center;
  z-index: 1;
}
.desktop-icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s;
  opacity: 0;
  background: #ec1db8;
  border-radius: 6px;
}
.focus::after {
  opacity: 0.3;
}

.colored::before,
.colored > .title-bar {
  background: #ec1db8;
}

.colored {
  z-index: 1;
}

#webamp .window::before {
  content: unset;
}
#webamp .title-bar {
  padding: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 0;
}

.custom {
  justify-content: center;
}

.custom button {
  padding: 0;
}
.custom button a,
.custom button a:visited,
.custom button a:active {
  width: 100%;
  display: block;
  text-decoration: none;
  color: unset;
  padding: 0 12px;
}

.window-body pre {
  border: 0;
}

.pet {
  display: block !important;
  flex: 0 !important;
}

.pet [role="tooltip"] {
  display: block;
  flex: 0;
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 10px;
}

.pet img {
  width: 75px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.browser {
  display: flex;
}

.browser .url {
  flex: 1;
}

.browser .bar {
  display: flex;
  flex-direction: row;
  height: 26px;
  padding-bottom: 8px;
}

.browser .bar * {
  margin-right: 8px;
}
.browser .bar *:last-child {
  margin-right: 0;
}

.browser button {
  min-width: 0;
  font-size: 1.4em;
  padding-bottom: 3px;
}
.browser .iframe-container,
.browser iframe {
  width: 100%;
  height: 100%;
}
